:root{
  --font-headline: 'Roboto', sans-serif;
  --font-normal: "Libertinus Sans", sans-serif;
  --font-main: "Alfa Slab One", serif;
  --bg-main: #EEEEEE;
  --bg-secondary: #253900;
  --text-main: #08CB00;
  --text-secondary: #6b7280;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.grid-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image:
    linear-gradient(to right, #cdf6e2 1px, transparent 1px),
    linear-gradient(to bottom, #cdf6e2 1px, transparent 1px);
  background-size: 32px 32px;
  -webkit-mask-image: radial-gradient(ellipse 80% 80% at 0% 0%, #000 50%, transparent 90%);
  mask-image: radial-gradient(ellipse 80% 80% at 0% 0%, #000 50%, transparent 90%);
}

.main {
  position: relative;
  z-index: 1;
  /* border: 1px solid #0055ff; */
  width: 100%;
  /* height: 100vh; */
}